table{
    width:700px;
    border:solid 2px black;
    border-collapse: collapse;
}
th{
    border:solid 2px black;
    border-collapse: collapse;
    width:62.5px;
    padding: 10px;
    background-color: rgb(98, 249, 196);
}
.prikaz
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
