.cardContainer{
    background-color: white;
    width:900px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap:20px;
}

.cardHeader{
    display: flex;
    flex-direction: row;
    width:100%;
    height:300px;
    background-color:rgb(127, 168, 243);
    justify-content: center;
    align-items: center;
    gap:150px;
}
.cardPodaci
{
    width:100%;
    height:100%;
    display: flex;
    flex-direction: row;
    /*background-color: aquamarine;*/
    gap:20px;
}
.cardLeft{
width:40%;
background-color:bisque ;
display: flex;
flex-direction: column;
padding: 10px;
gap:20px;
}


.cardRight{
    width:60%;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.education
{
    display: flex;
    flex-direction: column;
    gap:10px;
    /*background-color: cornflowerblue;*/
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.Title
{
    padding-top: 10px;
    padding-left: 10px;
    font-size: 25px;
    font-weight: bold;
    color:rgb(127, 168, 243);
}
.skills{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap:30px;
}
.programmingSkills{
    display: flex;
    flex-direction: row;
}
.programmingItems{
    display: flex;
    flex-direction: column;
    width: 70%;
    gap:8px;
}
.skillTitle
{
    width: 30%;
   /* background-color: aqua;*/
    font-weight: bold;
}