.title{
    display: flex;
    flex-direction: column;
    gap:5px;
}
.name{
    font-size: 50px;
    font-weight: bold;
    text-decoration: underline;
    text-transform: uppercase;
    color: white;
}
.desc
{
    color: white;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
}