
.radioElement{
    display: flex;
    flex-direction: row;
    gap:15px;
    justify-content: center;
  }

  .element{
    font-size: 20px;
    display: flex;
    flex-direction: row;
    gap:2px;
    align-items:center
  }

  input[type="radio"]{
    width:20px;
    height:20px;
  }

  input[type="radio"]:hover{
   cursor: pointer;
  }