.educationItems{
    width: 100%;
    display: flex;
    flex-direction: row;
    /*background-color: aqua;*/
}

.educationDatum{
    width:35%;
   /* background-color:coral ;*/
    padding: 10px;
    font-weight: bold;
}
.educationInfo{
    width:65%;
    /*background-color: aquamarine;*/
    padding: 10px;
}