.resultContainer{
    width:200px;
    height:100%;
    /*background-color: rgb(228, 62, 62);*/
    display: flex;
    flex-direction: column;
    align-items: center;
    border:3px solid black;
    border-radius: 5px;
}

.scoreItems
{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 80px;
    font-weight: bold;
    padding-top: 10px;
}

.timeItems{
    display: flex;
    flex-direction: row;
    font-weight: bold;
    font-size: 25px;
    align-items: center;
    gap: 10px;
}
.timeCounter{
    width:25px;
    height: 25px;
    border: none;
    background-color: white;
    display: flex;
    justify-content: center;
    font-weight: bold;
    align-items: center;
    border-radius: 5px;
}
.timeCounter:hover{
    cursor: pointer;
}