.appContainer{
  width: 100%;
  height: 900px;
  background-color: rgb(44, 165, 230);
  display: flex;
  justify-content: center;
  align-items: center;
  }
 
.appDisplay{
  width:80%;
  height: 90%;
  background-color: azure;
  display: flex;
  flex-direction: column;
}
.appTitle{
  width:100%;
  height:10%;
  background-color: bisque;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
}
.appElements{
  width:100%;
  height:90%;
  display: flex;
  flex-direction: row;
}

.dodajElemente{
width:30%;
height: 100%;
background-color: aquamarine;
}

.prikaziElemente{
  width:70%;
  height: 100%;
  /*background-color:rgb(190, 113, 19);*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
   background-color:bisque;
}
.filter{
  width: 690px;
  height: 15%;
  background-color: bisque;
 display: flex;
 flex-direction: column;
 align-items: center;
 gap:10px;
 padding-left: 20px;
}

.filterTitle{
  padding-top: 10px;
  font-size: 25px;
  font-weight: bold;
}

.tablica{
  width:100%;
  height: 85%;
  background-color:bisque;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  padding-bottom: 50px;
}
