.statElement{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    background-color: rgba(96, 97, 97, 0.838);
    justify-content: center;
    padding: 10px;
}

.buttonStat{
    height:25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    background-color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
}
.buttonStat:hover{
    cursor: pointer;
}