.sadrzajContainer{
    width:100%;
    height: 100%;
    /*background-color: cornflowerblue;*/
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    overflow: hidden;
   
}

.pitanjaOdgovori{
    width:65%;
    height: 100%;
    /*background-color: bisque;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:20px;
}
.pitanje{
    width:70%;
    background-color: rgb(234, 232, 232);
    border-radius: 10px;
    padding: 20px;
    border:3px solid black;
}

.odgovor{
    width:50%;
    height:400px;
    /*background-color: aquamarine;*/
    display: flex;
    flex-direction: column;
    align-items: center;
}
.botunOdgovor:hover{
    cursor: pointer;
    border: 2px solid black;
}
.botunOdgovor
{
    background-color: rgb(234, 232, 232);
    margin-top:10px;
    margin-bottom: 10px;
    width:100%;
    border: 2px solid black;
    padding-top: 10px;
    padding-top: 10px;
}

.krivo{
    background-color: rgb(243, 84, 84);
}
.tocno{
    background-color: rgb(54, 241, 126);
}

.botunDalje{
    width:50%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top:30px;
    border: 2px solid black;
    background-color: rgb(234, 232, 232);
}
.botunDalje:hover{
    border: 2px solid black;
    cursor: pointer;
}

.rezultatSadrzaj{
    width:35%;
    height: 100%;
    /*background-color: rgb(206, 225, 81);*/
    display: flex;
    flex-direction: column;
    
}

.trenutnopitanje{
    width: 100%;
    height:50%;
    /*background-color: darkcyan;*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title{
width:100%;
display: flex;
align-items: center;
justify-content: center;
font-size: 40px;
}

.status{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-weight: bold;
}