.HomeContainer{
    width:1400px;
    /* height:1000px; */
    background-color: rgb(100, 201, 146);
    margin-top: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
    border: 3px solid black;
}

.Slider{
    width:1000px;
    height:400px;
     /* background-color: antiquewhite;  */
    margin-top:20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Informacije{
    width:1000px;
    height:300px;
    background-color: rgb(248, 242, 212);

}
.Lokacija{
    width:1000px;
    height:300px;
    background-color: rgb(248, 242, 212);

    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    gap:20px;
}
.Mapa
{
    height:300px;
    width:400px;
}